* {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

html {
  font-family: "Noto Sans KR", sans-serif; }

body {
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden; }

h1 {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

button,
input,
select,
textarea {
  border: none;
  background-color: transparent; }
  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    box-shadow: none; }

a,
button {
  cursor: pointer; }

button {
  padding: 0; }

ul,
ol {
  list-style: none;
  padding-left: 0; }

address {
  font-style: normal; }

header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #3DA5F5;
  overflow: hidden; }
  header .nav-pc {
    position: fixed;
    display: flex;
    align-items: center;
    top: 15px;
    left: 25px;
    width: 100%;
    height: 3vh;
    background-color: #fff;
    border-radius: 4px;
    transform: translateX(100vw);
    z-index: 30; }
    @media screen and (max-width: 1024px) {
      header .nav-pc {
        display: none; } }
    header .nav-pc ul {
      display: flex;
      padding: 5px 20px; }
      header .nav-pc ul li {
        position: relative;
        padding: 5px 2px;
        margin-right: 20px;
        transition: 0.5s;
        cursor: pointer; }
        header .nav-pc ul li:last-child {
          margin-right: 0; }
        header .nav-pc ul li:hover::after {
          transform: scale(1); }
        header .nav-pc ul li::after {
          position: absolute;
          left: 0;
          display: block;
          content: "";
          width: 100%;
          height: 1px;
          border-bottom: 1px solid #F86D7D;
          background-color: #F86D7D;
          transform: scale(0);
          transition: 0.5s; }
  header .nav-mo {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    transform: translateY(-20px);
    z-index: 30; }
    @media screen and (max-width: 1024px) {
      header .nav-mo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0; } }

@keyframes sidebar-drop {
  to {
    transform: translateY(0);
    opacity: 1; } }
    header .nav-mo .nav-mo-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 45px;
      margin-bottom: 10px;
      background-color: #fff;
      border: 1px solid #E0E2E7;
      border-radius: 12px;
      font-size: 1.5rem;
      color: #3F4150; }
      header .nav-mo .nav-mo-wrap .sidebar-button {
        margin: 5px 0;
        font-size: 1.5rem;
        transition: 0.5s;
        cursor: pointer; }
        header .nav-mo .nav-mo-wrap .sidebar-button.active {
          transform: rotate(90deg); }
      header .nav-mo .nav-mo-wrap ul {
        width: 100%;
        max-height: 0;
        transition: 0.5s;
        transform: translateY(-300px);
        opacity: 0; }
        header .nav-mo .nav-mo-wrap ul.active {
          max-height: 200px;
          transform: translateY(0);
          opacity: 1; }
        header .nav-mo .nav-mo-wrap ul li {
          display: flex;
          justify-content: center;
          padding: 8px 10px;
          margin-bottom: 10px;
          cursor: pointer; }
          header .nav-mo .nav-mo-wrap ul li:last-child {
            margin-bottom: 0; }
    header .nav-mo .top-button-mo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      background-color: #fff;
      border: 1px solid #E0E2E7;
      border-radius: 12px;
      font-size: 1.2rem;
      transform: translateY(-124%);
      transition: 0.5s;
      z-index: -1; }
      header .nav-mo .top-button-mo.active {
        display: flex;
        transform: translateY(0); }
  header #header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-align: center;
    background-color: transparent; }
    @media screen and (max-width: 1024px) {
      header #header-title {
        width: 100%;
        font-size: 1.5rem; } }
  header .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 250px;
    background: linear-gradient(to right, #3DA5F5, transparent);
    overflow: hidden;
    transform: translateX(100%);
    transition: 3s; }
    header .top-bar.active {
      transform: translateX(-100%); }
    @media screen and (max-width: 1024px) {
      header .top-bar {
        height: 10%; } }
  header .left-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background: linear-gradient(to top, #F86D7D, transparent);
    overflow: hidden;
    transform: translateY(-100%);
    transition: 3s; }
    header .left-bar.active {
      transform: translateY(100%); }
    @media screen and (max-width: 1024px) {
      header .left-bar {
        width: 20%; } }
  header .right-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background: linear-gradient(to bottom, #22C58B, transparent);
    overflow: hidden;
    transform: translateY(100%);
    transition: 3s; }
    header .right-bar.active {
      transform: translateY(-100%); }
    @media screen and (max-width: 1024px) {
      header .right-bar {
        width: 20%; } }
  header .bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 250px;
    background: linear-gradient(to left, #ECF6FE, transparent);
    overflow: hidden;
    transform: translateX(-100%);
    transition: 3s; }
    header .bottom-bar.active {
      transform: translateX(100%); }
    @media screen and (max-width: 1024px) {
      header .bottom-bar {
        height: 10%; } }
  header .bottom-arrow {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70%;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    text-align: center; }
    header .bottom-arrow .arrow {
      font-size: 1.5rem;
      opacity: 0; }
      @media screen and (max-width: 1024px) {
        header .bottom-arrow .arrow {
          font-size: 1rem; } }
      header .bottom-arrow .arrow:nth-child(2) {
        transform: translateY(-10px); }
        @media screen and (max-width: 1024px) {
          header .bottom-arrow .arrow:nth-child(2) {
            transform: translateY(0); } }
      header .bottom-arrow .arrow:last-child {
        transform: translateY(-20px); }
        @media screen and (max-width: 1024px) {
          header .bottom-arrow .arrow:last-child {
            transform: translateY(0); } }
  header .top-button-pc {
    position: fixed;
    bottom: 5%;
    right: 20px;
    width: 55px;
    height: 55px;
    background-color: #3F4150;
    border-radius: 12px;
    color: white;
    font-size: 1.2rem;
    opacity: 0;
    animation: top-button-pc-out 0.5s forwards;
    z-index: 30; }
    @media screen and (max-width: 1024px) {
      header .top-button-pc {
        display: none; } }
    header .top-button-pc.active {
      opacity: 0.5;
      animation: top-button-pc-in 0.5s forwards; }
    header .top-button-pc:hover {
      opacity: 1; }

@keyframes arrow {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes nav-move {
  20% {
    width: 10%;
    transform: translateX(0); }
  90% {
    transform: translateX(30%);
    width: 25%; }
  96% {
    transform: translateX(0); }
  98% {
    transform: translateX(5%); }
  100% {
    width: fit-content;
    transform: translateX(0); } }

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden; }
  @media screen and (max-width: 1024px) {
    main {
      height: fit-content; } }
  main h2 {
    width: 100%;
    font-size: 4rem;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(30%); }
    main h2.active {
      opacity: 1;
      transform: translateY(0); }
    @media screen and (max-width: 1024px) {
      main h2 {
        font-size: 2rem; } }
  main .title-border {
    display: block;
    width: 95%;
    height: 1px;
    margin-bottom: 20px;
    border-bottom: 3px solid #E0E2E7;
    transform: scaleX(0);
    transition: 0.5s; }
    main .title-border.active {
      transform: scaleX(1); }

@keyframes top-button-pc-in {
  90% {
    transform: translateX(-1vw); }
  100% {
    transform: translateX(0); } }

@keyframes top-button-pc-out {
  0% {
    transform: translateX(0); }
  90% {
    transform: translateX(-1vw); }
  100% {
    transform: translateX(8vw); } }

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fff; }
  @media screen and (max-width: 1024px) {
    .about {
      height: fit-content;
      margin-bottom: 50px; } }
  .about * {
    color: #3F4150; }
  .about .about-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px; }
    @media screen and (max-width: 1024px) {
      .about .about-wrap {
        flex-direction: column; } }
    .about .about-wrap .img {
      position: relative;
      width: 100%;
      min-width: 150px;
      max-width: 450px;
      margin-right: 5%;
      opacity: 0;
      transform: translateX(-40%);
      transition: 0.5s; }
      .about .about-wrap .img.active {
        opacity: 1;
        transform: translateX(0); }
      @media screen and (max-width: 1024px) {
        .about .about-wrap .img {
          width: 50%;
          margin-bottom: 20px;
          margin-right: 0; } }
      .about .about-wrap .img::after {
        content: "";
        display: block;
        padding-bottom: 100%; }
      .about .about-wrap .img img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover; }
    .about .about-wrap .introduce {
      letter-spacing: 1.2px;
      transform: translateX(-55%);
      opacity: 0;
      transition: 0.5s; }
      .about .about-wrap .introduce.active {
        opacity: 1;
        transform: translateX(0); }
      @media screen and (max-width: 1024px) {
        .about .about-wrap .introduce {
          letter-spacing: 0; } }
      .about .about-wrap .introduce p {
        margin-bottom: 30px; }
        @media screen and (max-width: 1024px) {
          .about .about-wrap .introduce p {
            font-size: 0.9rem;
            line-height: 180%; } }
        .about .about-wrap .introduce p strong {
          display: block;
          margin-bottom: 4px;
          font-size: 1.5rem; }
          @media screen and (max-width: 1024px) {
            .about .about-wrap .introduce p strong {
              font-size: 1.4rem; } }
        .about .about-wrap .introduce p .indent-none {
          margin-top: 4px;
          font-size: 1.1rem;
          text-decoration: underline; }
        .about .about-wrap .introduce p span {
          display: block;
          margin: 6px 0;
          text-indent: 1rem; }
        .about .about-wrap .introduce p .point {
          display: inline;
          padding: 0 4px;
          background-color: #F86D7D;
          border-radius: 4px; }

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(248, 109, 125, 0.5); }
  @media screen and (max-width: 1024px) {
    .skill {
      height: fit-content;
      padding: 50px 0; } }
  .skill * {
    color: #3F4150; }
  .skill .desc {
    display: flex;
    align-items: center;
    width: 100%; }
    @media screen and (max-width: 1024px) {
      .skill .desc {
        flex-direction: column; } }
    .skill .desc .icon-wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      width: 40%;
      margin-right: 25px;
      transform: translateX(85%);
      opacity: 0;
      transition: 0.5s; }
      .skill .desc .icon-wrap.active {
        opacity: 1;
        transform: translateX(0); }
      @media screen and (max-width: 1024px) {
        .skill .desc .icon-wrap {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px; } }
      .skill .desc .icon-wrap .skill-item {
        width: fit-content;
        height: 100%;
        margin-bottom: 15px; }
        @media screen and (max-width: 1024px) {
          .skill .desc .icon-wrap .skill-item {
            display: flex;
            justify-content: center;
            width: 100%; } }
        .skill .desc .icon-wrap .skill-item img {
          width: 150px;
          height: 100%;
          object-fit: contain; }
          @media screen and (max-width: 1024px) {
            .skill .desc .icon-wrap .skill-item img {
              width: 100px; } }
        .skill .desc .icon-wrap .skill-item .html,
        .skill .desc .icon-wrap .skill-item .js {
          width: 150px;
          height: 150px; }
          @media screen and (max-width: 1024px) {
            .skill .desc .icon-wrap .skill-item .html,
            .skill .desc .icon-wrap .skill-item .js {
              width: 95px;
              height: 95px; } }
        .skill .desc .icon-wrap .skill-item .css {
          width: 110px;
          height: 150px; }
          @media screen and (max-width: 1024px) {
            .skill .desc .icon-wrap .skill-item .css {
              width: 70px;
              height: 95px; } }
        @media screen and (max-width: 1024px) {
          .skill .desc .icon-wrap .skill-item:first-child {
            display: flex; } }
        .skill .desc .icon-wrap .skill-item:nth-child(2) {
          margin-left: 20px; }
        .skill .desc .icon-wrap .skill-item:last-child {
          margin-left: 15px;
          margin-bottom: 0; }
    .skill .desc .skill-desc {
      width: 50%;
      margin-left: 25px;
      transform: translateX(50%);
      opacity: 0;
      transition: 0.5s; }
      .skill .desc .skill-desc.active {
        opacity: 1;
        transform: translateX(0); }
      @media screen and (max-width: 1024px) {
        .skill .desc .skill-desc {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin-left: 0;
          margin-bottom: 20px; } }
      .skill .desc .skill-desc p {
        margin-bottom: 20px;
        font-size: 1.5rem; }
        @media screen and (max-width: 1024px) {
          .skill .desc .skill-desc p {
            padding: 0 10px;
            font-size: 1rem; } }
        .skill .desc .skill-desc p:last-child {
          margin-bottom: 0; }

.portfolio.pc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh; }
  @media screen and (max-width: 1024px) {
    .portfolio.pc {
      display: none; } }
  .portfolio.pc * {
    color: #3F4150; }
  .portfolio.pc .pf-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transform: translateY(-30px);
    transition: 0.5s; }
    .portfolio.pc .pf-wrapper.active {
      opacity: 1;
      transform: translateY(0); }
    .portfolio.pc .pf-wrapper .pf-item {
      position: absolute;
      width: 25%;
      min-width: 380px;
      background-color: #E0E2E7;
      border: 1px solid #E0E2E7;
      border-radius: 4px;
      transition: 0.5s; }
      @media screen and (max-width: 1024px) {
        .portfolio.pc .pf-wrapper .pf-item {
          position: static; } }
      .portfolio.pc .pf-wrapper .pf-item:hover {
        z-index: 30 !important; }
      .portfolio.pc .pf-wrapper .pf-item:hover .overlay {
        opacity: 1; }
      .portfolio.pc .pf-wrapper .pf-item .info {
        width: fit-content;
        transition: 0.5s;
        height: 2vh; }
        .portfolio.pc .pf-wrapper .pf-item .info .title {
          display: block;
          width: 100%;
          height: 2.2vh;
          margin: 0;
          padding: 0 4px;
          background-color: #E0E2E7;
          color: #3F4150; }
        .portfolio.pc .pf-wrapper .pf-item .info p {
          width: 100%; }
      .portfolio.pc .pf-wrapper .pf-item .img-pc {
        position: relative;
        width: 100%;
        margin-top: 1.8vh;
        transform: translateY(4px); }
        .portfolio.pc .pf-wrapper .pf-item .img-pc img {
          width: 100%; }
      .portfolio.pc .pf-wrapper .pf-item.ac {
        top: 0;
        left: 27%;
        z-index: 3; }
      .portfolio.pc .pf-wrapper .pf-item.nf {
        top: 32%;
        left: 27%;
        z-index: 4; }
      .portfolio.pc .pf-wrapper .pf-item.wt {
        top: 64%;
        left: 27%;
        z-index: 5; }
      .portfolio.pc .pf-wrapper .pf-item.uq {
        top: 15%;
        right: 27%;
        z-index: 6; }
      .portfolio.pc .pf-wrapper .pf-item.pf {
        top: 47%;
        right: 27%;
        z-index: 7; }
      .portfolio.pc .pf-wrapper .pf-item.left {
        transition: 0.5s; }
        .portfolio.pc .pf-wrapper .pf-item.left .info {
          position: absolute;
          top: 0;
          left: 0; }
        .portfolio.pc .pf-wrapper .pf-item.left:hover {
          transition: 0.5s;
          transform: translateX(15%); }
        .portfolio.pc .pf-wrapper .pf-item.left:hover .info {
          transform: translateX(-100%);
          padding-right: 5%; }
        .portfolio.pc .pf-wrapper .pf-item.left:hover .title {
          border-radius: 4px; }
      .portfolio.pc .pf-wrapper .pf-item.right .info {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
      .portfolio.pc .pf-wrapper .pf-item.right:hover {
        transform: translateX(-10%); }
      .portfolio.pc .pf-wrapper .pf-item.right:hover .info {
        transform: translateX(105%); }
      .portfolio.pc .pf-wrapper .pf-item.right:hover .title {
        text-align: right;
        border-radius: 4px; }
    .portfolio.pc .pf-wrapper .overlay {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(140, 141, 150, 0.5);
      opacity: 0;
      transition: 0.5s; }
      .portfolio.pc .pf-wrapper .overlay .link {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%; }
        .portfolio.pc .pf-wrapper .overlay .link a {
          padding: 4px 8px;
          border-radius: 8px;
          background-color: #3F4150;
          color: white;
          font-weight: 700;
          transition: 0.5s; }
          .portfolio.pc .pf-wrapper .overlay .link a:first-child {
            margin-bottom: 10px; }
          .portfolio.pc .pf-wrapper .overlay .link a:hover {
            opacity: 0.5; }
      .portfolio.pc .pf-wrapper .overlay .img-mo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        border-radius: 6px; }
        .portfolio.pc .pf-wrapper .overlay .img-mo img {
          width: 30%;
          border-radius: 6px; }
        .portfolio.pc .pf-wrapper .overlay .img-mo span {
          margin-bottom: 4px;
          font-size: 0.8rem; }

.portfolio.mo {
  display: none;
  color: #3F4150; }
  @media screen and (max-width: 1024px) {
    .portfolio.mo {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 0; } }
  .portfolio.mo .pf-wrapper {
    width: 100%;
    padding: 4px 8px;
    opacity: 0;
    transform: translateY(-30px);
    transition: 0.5s; }
    .portfolio.mo .pf-wrapper.active {
      opacity: 1;
      transform: translateY(0); }
    .portfolio.mo .pf-wrapper .pf-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      border: 1px solid #E0E2E7;
      border-radius: 8px;
      opacity: 0;
      transform: translateY(-30px);
      transition: 0.5s; }
      .portfolio.mo .pf-wrapper .pf-item.active {
        opacity: 1;
        transform: translateY(0); }
      .portfolio.mo .pf-wrapper .pf-item .title {
        width: 100%;
        margin-bottom: 4px;
        background-color: #E0E2E7;
        border-radius: 8px 8px 0 0;
        color: #3F4150;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 700; }
      .portfolio.mo .pf-wrapper .pf-item .img-pc {
        width: 90%;
        margin: 5px 0; }
        .portfolio.mo .pf-wrapper .pf-item .img-pc img {
          width: 100%;
          border: 1px solid #8C8D96; }
      .portfolio.mo .pf-wrapper .pf-item .info {
        width: 100%;
        font-size: 0.85rem;
        text-align: left; }
        .portfolio.mo .pf-wrapper .pf-item .info p {
          margin-bottom: 4px;
          padding-left: 5%; }
        .portfolio.mo .pf-wrapper .pf-item .info p:nth-last-of-type(1) {
          margin-bottom: 15px; }
        .portfolio.mo .pf-wrapper .pf-item .info .button {
          display: flex;
          justify-content: center;
          margin-bottom: 10px; }
          .portfolio.mo .pf-wrapper .pf-item .info .button a {
            padding: 5px 10px;
            margin: 5px 10px;
            color: #3F4150;
            background-color: #E0E2E7;
            border-radius: 8px;
            font-weight: 700; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35vh;
  background-color: #F7F8FA;
  color: #3F4150; }
  @media screen and (max-width: 1024px) {
    footer {
      height: fit-content;
      padding: 50px 0; } }
  footer .thx {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 2rem; }
    @media screen and (max-width: 1024px) {
      footer .thx {
        font-size: 1.2rem; } }
  footer dl {
    display: flex;
    flex-wrap: wrap;
    width: 50%; }
    @media screen and (max-width: 1024px) {
      footer dl {
        display: block;
        width: 100%; } }
    footer dl .dt-wrap {
      width: 50%; }
      @media screen and (max-width: 1024px) {
        footer dl .dt-wrap {
          display: flex;
          justify-content: center;
          width: 100%; } }
    footer dl a {
      transition: 0.5s; }
      footer dl a:hover {
        opacity: 0.5; }
    footer dl i {
      font-size: 3rem; }
      @media screen and (max-width: 1024px) {
        footer dl i {
          font-size: 1.5rem; } }
    footer dl dd {
      margin-left: 8px;
      margin-bottom: 16px; }
    footer dl .blog img {
      opacity: 0.7;
      width: 48px; }
      @media screen and (max-width: 1024px) {
        footer dl .blog img {
          width: 24px; } }

/*# sourceMappingURL=style.css.map */