* {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: white; }

html {
  font-family: "Noto Sans KR", sans-serif; }

body {
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
  background-color: #3F4150; }

h1 {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

button,
input,
select,
textarea {
  border: none;
  background-color: transparent; }
  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    box-shadow: none; }

a,
button {
  cursor: pointer; }

button {
  padding: 0; }

ul,
ol {
  list-style: none;
  padding-left: 0; }

address {
  font-style: normal; }

header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #3F4150;
  overflow: hidden; }
  header nav {
    position: fixed;
    top: 15px;
    left: 25px;
    width: 100%;
    height: 3vh;
    background-color: #fff;
    border-radius: 4px; }
    header nav ul {
      display: flex; }
      header nav ul li {
        position: relative;
        padding: 5px 2px;
        margin-right: 20px;
        transition: 0.5s;
        cursor: pointer; }
        header nav ul li:first-child {
          margin-left: 20px; }
        header nav ul li:last-child {
          margin-right: 0; }
        header nav ul li:hover {
          opacity: 0.5; }
          header nav ul li:hover::after {
            transform: scale(1); }
        header nav ul li::after {
          position: absolute;
          left: 0;
          bottom: -1px;
          display: block;
          content: "";
          width: 100%;
          height: 1px;
          border-bottom: 1px solid #F86D7D;
          background-color: #F86D7D;
          transform: scale(0);
          transition: 0.5s; }
  header #header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-align: center;
    background-color: transparent; }
  header .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 250px;
    background: linear-gradient(to right, #3DA5F5, transparent);
    overflow: hidden;
    transform: translateX(-100%); }
  header .left-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background: linear-gradient(to top, #F86D7D, transparent);
    overflow: hidden;
    transform: translateY(-100%); }
  header .right-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background: linear-gradient(to bottom, #22C58B, transparent);
    overflow: hidden;
    transform: translateY(-100%); }
  header .bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 250px;
    background: linear-gradient(to left, #ECF6FE, transparent);
    overflow: hidden;
    transform: translateX(100%); }

@keyframes topAni {
  from {
    transform: translateX(100%); } }

@keyframes leftAni {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(100%); } }

@keyframes rightAni {
  from {
    transform: translateY(100%); } }

@keyframes bottomAni {
  from {
    transform: translateX(-100%); } }

@keyframes nav-move {
  20% {
    width: 10%;
    transform: translateX(0); }
  90% {
    width: 15%;
    transform: translateX(30%); }
  96% {
    transform: translateX(0); }
  98% {
    transform: translateX(5%); }
  100% {
    width: fit-content;
    transform: translateX(0); } }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #fff;
  overflow: hidden; }
  @media screen and (max-width: 1024px) {
    main {
      height: fit-content; } }
  main * {
    color: #3F4150; }
  main h2 {
    font-size: 4rem;
    margin-bottom: 20px; }
    @media screen and (max-width: 1024px) {
      main h2 {
        font-size: 2rem; } }
  main .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1800px; }
    main .skill .desc {
      display: flex;
      align-items: center;
      width: 100%; }
      @media screen and (max-width: 1024px) {
        main .skill .desc {
          flex-direction: column; } }
      main .skill .desc .icon-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 45%;
        margin-right: 25px; }
        @media screen and (max-width: 1024px) {
          main .skill .desc .icon-wrap {
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px; } }
        main .skill .desc .icon-wrap .skill-item {
          width: fit-content;
          height: fit-content;
          margin-bottom: 15px; }
          @media screen and (max-width: 1024px) {
            main .skill .desc .icon-wrap .skill-item {
              display: flex;
              justify-content: center;
              width: 100%; } }
          main .skill .desc .icon-wrap .skill-item img {
            width: 150px;
            height: 100%;
            object-fit: contain; }
            @media screen and (max-width: 1024px) {
              main .skill .desc .icon-wrap .skill-item img {
                width: 100px; } }
          main .skill .desc .icon-wrap .skill-item .html,
          main .skill .desc .icon-wrap .skill-item .js {
            width: 150px;
            height: 150px; }
            @media screen and (max-width: 1024px) {
              main .skill .desc .icon-wrap .skill-item .html,
              main .skill .desc .icon-wrap .skill-item .js {
                width: 95px;
                height: 95px; } }
          main .skill .desc .icon-wrap .skill-item .css {
            width: 110px;
            height: 150px; }
            @media screen and (max-width: 1024px) {
              main .skill .desc .icon-wrap .skill-item .css {
                width: 70px;
                height: 95px; } }
          @media screen and (max-width: 1024px) {
            main .skill .desc .icon-wrap .skill-item:first-child {
              display: flex; } }
          main .skill .desc .icon-wrap .skill-item:nth-child(2) {
            margin-left: 20px; }
          main .skill .desc .icon-wrap .skill-item:last-child {
            margin-left: 15px;
            margin-bottom: 0; }
      main .skill .desc .skill-desc {
        width: 50%;
        margin-left: 25px; }
        @media screen and (max-width: 1024px) {
          main .skill .desc .skill-desc {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-left: 0;
            margin-bottom: 20px; } }
        main .skill .desc .skill-desc p {
          margin-bottom: 20px;
          font-size: 1.5rem; }
          @media screen and (max-width: 1024px) {
            main .skill .desc .skill-desc p {
              padding: 0 10px;
              font-size: 1rem; } }
          main .skill .desc .skill-desc p:last-child {
            margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */