header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $primary;
  overflow: hidden;

  nav {
    position: fixed;
    top: 15px;
    left: 25px;
    width: 100%;
    height: 3vh;
    background-color: #fff;
    border-radius: 4px;
    // transform: translateX(100vw);
    ul {
      display: flex;
      li {
        position: relative;
        padding: 5px 2px;
        margin-right: 20px;
        transition: 0.5s;
        cursor: pointer;

        &:first-child {
          margin-left: 20px;
        }

        &:last-child {
          margin-right: 0;
        }
        &:hover {
          opacity: 0.5;
          &::after {
            transform: scale(1);
          }
        }
        &::after {
          position: absolute;
          left: 0;
          bottom: -1px;
          display: block;
          content: "";
          width: 100%;
          height: 1px;
          border-bottom: 1px solid $red;
          background-color: $red;
          transform: scale(0);
          transition: 0.5s;
        }
      }
    }
  }

  #header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    text-align: center;

    background-color: transparent;
  }

  .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 250px;
    background: linear-gradient(to right, $blue, transparent);
    overflow: hidden;
    transform: translateX(-100%);
  }

  .left-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background: linear-gradient(to top, $red, transparent);
    overflow: hidden;
    transform: translateY(-100%);
  }
  .right-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background: linear-gradient(to bottom, $green, transparent);
    overflow: hidden;
    transform: translateY(-100%);
  }
  .bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 250px;
    background: linear-gradient(to left, $blue-light, transparent);
    overflow: hidden;
    transform: translateX(100%);
  }
}

@keyframes topAni {
  from {
    transform: translateX(100%);
  }
}
@keyframes leftAni {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes rightAni {
  from {
    transform: translateY(100%);
  }
}
@keyframes bottomAni {
  from {
    transform: translateX(-100%);
  }
}
@keyframes nav-move {
  20% {
    width: 10%;
    transform: translateX(0);
  }
  90% {
    width: 15%;
    transform: translateX(30%);
  }
  96% {
    transform: translateX(0);
  }
  98% {
    transform: translateX(5%);
  }
  100% {
    width: fit-content;
    transform: translateX(0);
  }
}
