main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include responsive {
    height: fit-content;
  }
  h2 {
    width: 100%;
    font-size: 4rem;
    text-align: center;
    opacity: 0;
    @include responsive {
      font-size: 2rem;
    }
  }

  .title-border {
    display: block;
    width: 95%;
    height: 1px;
    margin-bottom: 20px;
    border-bottom: 3px solid $border;
    transform: scaleX(0);
  }
}

@keyframes top-button-pc-in {
  90% {
    transform: translateX(-1vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes top-button-pc-out {
  0% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-1vw);
  }
  100% {
    transform: translateX(8vw);
  }
}

@keyframes border-scale {
  to {
    transform: scaleX(1);
  }
}

@keyframes side-move {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes top-move {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes title-appear {
  to {
    opacity: 1;
  }
}
