main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include responsive {
    height: fit-content;
  }
  * {
    color: $primary;
  }
  h2 {
    width: 100%;
    font-size: 4rem;
    text-align: center;
    opacity: 0;
    @include responsive {
      font-size: 2rem;
    }
  }

  .title-border {
    display: block;
    width: 95%;
    height: 1px;
    margin-bottom: 20px;
    border-bottom: 3px solid $border;
    transform: scaleX(0);
  }

  .about-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    @include responsive {
      height: fit-content;
    }

    * {
      color: #fff;
    }
    .about {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0 20px;
      @include responsive {
        flex-direction: column;
      }
      .img {
        position: relative;
        width: 100%;
        min-width: 150px;
        max-width: 450px;
        margin-right: 5%;
        opacity: 0;
        transform: translateX(-40%);
        @include responsive {
          width: 50%;
          margin-bottom: 20px;
          margin-right: 0;
        }
        &::after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .introduce {
        letter-spacing: 1.2px;
        transform: translateX(-55%);
        opacity: 0;
        @include responsive {
          letter-spacing: 0;
        }
        p {
          margin-bottom: 30px;
          @include responsive {
            font-size: 0.9rem;
            line-height: 180%;
          }
          strong {
            display: block;
            margin-bottom: 4px;
            font-size: 1.3rem;
            @include responsive {
              font-size: 1rem;
            }
          }
          .indent-none {
            font-size: 1.1rem;
            text-indent: 0;
          }
          span {
            display: block;
            margin: 6px 0;
            text-indent: 1rem;
          }
        }
      }
    }
  }
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    .desc {
      display: flex;
      align-items: center;
      width: 100%;
      @include responsive {
        flex-direction: column;
      }
      .icon-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 40%;
        margin-right: 25px;
        transform: translateX(85%);
        opacity: 0;
        @include responsive {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
        }
        .skill-item {
          width: fit-content;
          height: fit-content;
          margin-bottom: 15px;
          @include responsive {
            display: flex;
            justify-content: center;
            width: 100%;
          }

          img {
            width: 150px;
            height: 100%;
            object-fit: contain;
            @include responsive {
              width: 100px;
            }
          }

          .html,
          .js {
            width: 150px;
            height: 150px;
            @include responsive {
              width: 95px;
              height: 95px;
            }
          }
          .css {
            width: 110px;
            height: 150px;
            @include responsive {
              width: 70px;
              height: 95px;
            }
          }

          &:first-child {
            @include responsive {
              display: flex;
            }
          }
          &:nth-child(2) {
            margin-left: 20px;
          }
          &:last-child {
            margin-left: 15px;
            margin-bottom: 0;
          }
        }
      }
      .skill-desc {
        width: 50%;
        margin-left: 25px;
        transform: translateX(50%);
        opacity: 0;

        @include responsive {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin-left: 0;
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 20px;
          font-size: 1.5rem;
          @include responsive {
            padding: 0 10px;
            font-size: 1rem;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .top-button-pc {
    position: fixed;
    top: 50%;
    right: 20px;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: $red;
    border-radius: 12px;
    font-size: 1.2rem;
    opacity: 0.8;
    transform: translateX(8vw);
    animation: top-button-pc-out 0.5s forwards;
    @include responsive {
      display: none;
    }
    &.active {
      animation: top-button-pc-in 0.5s forwards;
    }
    &:hover {
      opacity: 1;
    }
  }
}

@keyframes top-button-pc-in {
  90% {
    transform: translateX(-1vh);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes top-button-pc-out {
  0% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-1vh);
  }
  100% {
    transform: translateX(8vw);
  }
}

@keyframes border-scale {
  to {
    transform: scaleX(1);
  }
}

@keyframes side-move {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes title-appear {
  to {
    opacity: 1;
  }
}
