.portfolio-pc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  @include responsive {
    display: none;
  }
  * {
    color: white;
  }
  .pf-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transform: translateY(-30px);

    .pf-item {
      position: absolute;
      width: 25%;
      min-width: 380px;
      background-color: $border;
      border: 1px solid $border;
      border-radius: 4px;
      transition: 0.5s;
      @include responsive {
        position: static;
      }
      &:hover {
        z-index: $sidebar-level !important;
      }
      &:hover .overlay {
        opacity: 1;
      }

      .info {
        width: fit-content;
        transition: 0.5s;
        height: 2vh;
        .title {
          display: block;
          width: 100%;
          height: 2.2vh;
          margin: 0;
          padding: 0 4px;
          background-color: $border;
          color: $primary;
        }
        p {
          width: 100%;
        }
      }
      .img-pc {
        position: relative;
        width: 100%;
        margin-top: 1.8vh;
        transform: translateY(4px);
        img {
          width: 100%;
        }
      }

      &.pf {
        top: 0;
        left: 27%;
        z-index: 3;
      }
      &.nf {
        top: 32%;
        left: 27%;
        z-index: 4;
      }
      &.wt {
        top: 64%;
        left: 27%;
        z-index: 5;
      }

      &.fl {
        top: 15%;
        right: 27%;
        z-index: 6;
      }
      &.uq {
        top: 47%;
        right: 27%;
        z-index: 7;
      }

      &.pf,
      &.nf,
      &.wt {
        transition: 0.5s;
        .info {
          position: absolute;
          top: 0;
          left: 0;
        }
        &:hover {
          transition: 0.5s;
          transform: translateX(15%);
        }
        &:hover .info {
          transform: translateX(-100%);
          padding-right: 5%;
        }
        &:hover .title {
          border-radius: 4px;
        }
      }

      &.fl,
      &.uq {
        .info {
          position: absolute;
          top: 0;
          right: 0;
          text-align: right;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
        &:hover {
          transform: translateX(-10%);
        }
        &:hover .info {
          transform: translateX(105%);
        }
        &:hover .title {
          text-align: right;
          border-radius: 4px;
        }
      }
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba($secondary, 0.5);
      opacity: 0;
      transition: 0.5s;

      .link {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        a {
          padding: 4px 8px;
          border-radius: 8px;
          background-color: $primary;
          font-weight: 700;
          transition: 0.5s;
          &:first-child {
            margin-bottom: 10px;
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }
      .img-mo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        border-radius: 6px;

        img {
          width: 30%;
          border-radius: 6px;
        }
        span {
          margin-bottom: 4px;
          font-size: 0.8rem;
        }
      }
    }
  }
}

.portfolio-mo {
  display: none;
  color: white;

  @include responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }
  .pf-wrapper {
    width: 100%;
    padding: 4px 8px;
    opacity: 0;
    .pf-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      border: 1px solid $border;
      border-radius: 8px;
      .title {
        width: 100%;
        margin-bottom: 4px;
        background-color: $border;
        border-radius: 8px 8px 0 0;
        color: $primary;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 700;
      }
      .img-pc {
        width: 90%;
        margin: 5px 0;
        img {
          width: 100%;
          border: 1px solid $secondary;
        }
      }
      .info {
        width: 100%;
        font-size: 0.85rem;
        text-align: left;

        p {
          margin-bottom: 4px;
          padding-left: 5%;
        }
        p:nth-last-of-type(1) {
          margin-bottom: 15px;
        }
        .button {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          a {
            padding: 5px 10px;
            margin: 5px 10px;
            color: $primary;
            background-color: $background;
            border-radius: 8px;
            font-weight: 700;
          }
        }
      }
    }
  }
}
